.jumbotron {
    margin-bottom: 0px;
    padding: 3%;
}

    .jumbotron p {
        margin-bottom: 0px;
    }

    .row{
        padding-bottom: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }

.col-sm-8 , .col-sm-12{
    margin-bottom: 2%;
}

.marginLeft20percent {
    margin-left: 20%;
}

.fixedSizedBtnSmall {
    width: 100px;
}

.noPaddingBottom{
    padding-bottom: 0;
}

.smallPaddingTop{
    padding-top: 3%;
}