.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('https://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
    transform: scale(2);
}

/* Anytime the body has the loading class, our
   loader element will be visible */
body.loading .loader {
    display: block;
}

.handOverCursor {
    cursor: pointer;
}

#howToPlayModal .modal-body{
    height: 27rem;
    overflow: scroll;
}