.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('loader.gif') 50% 50% no-repeat;
}

body.loading .loader {
    overflow: hidden;
    transform: scale(2);
}

body.loading .loader {
    display: block;
}

.handOverCursor {
    cursor: pointer;
}

#howToPlayModal .modal-body {
    height: 27rem;
    overflow: auto;
}

#howToPlayModal p {
    text-indent: 4%;
}

#howToPlayModal h5 {
    text-align: center;
}

.italicFont {
    font-style: italic;
}

.justifyAlign {
    text-align: justify;
}

.hidden {
    visibility: hidden;
}

.smallPaddingTop {
    padding-top: 1rem;
}

@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url('../Output/CustomFonts/') src: url('../Output/CustomFonts/bangers-v10-latin-regular.eot');
    src: local('Bangers Regular'), local('Bangers-Regular'), url('../fonts/bangers-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../Output/CustomFonts/bangers-v10-latin-regular.woff2') format('woff2'), url('../Output/CustomFonts/bangers-v10-latin-regular.woff') format('woff'), url('../Output/CustomFonts/bangers-v10-latin-regular.ttf') format('truetype'), url('../Output/CustomFonts/bangers-v10-latin-regular.svg#Bangers') format('svg');
}

.row{
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.noLateralPaddingForAllElements *{
    padding-left: 0;
    padding-right: 0;
}

.noLateralPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#addItem > button {
    color: #fff;
    background-color: #007B74;
    border-color: #007BB3;
    font-size: 1rem;
    padding: 0.2rem;
}

#addItem ul{
    padding-left: 1rem;
    background: lightgrey;
}

@media (min-width: 640px) {
    #addItem > button {
        margin-left: 1rem;
    }
}

#addItem{
    display: none;
}

.tooltip-inner {
    background-color: #003340 !important;
    color: #e3ecee;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00acd6;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #00acd6;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00acd6;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #00acd6;
}

.shareLinks .dropdown-toggle {
    font-size: larger !important;
    margin-left: 2rem !important;
    font-weight: 300 !important;
    padding: 0.3rem !important;
    background-color: #28a745 !important;
    border: none !important;
}

.shareLinks .dropdown-toggle::after {
    display: none;
}