.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
    transform: scale(2);
}

/* Anytime the body has the loading class, our
   loader element will be visible */
body.loading .loader {
    display: block;
}

.handOverCursor {
    cursor: pointer;
}

#howToPlayModal .modal-body {
    height: 27rem;
    overflow: auto;
}

#howToPlayModal p {
    text-indent: 4%;
}

#howToPlayModal h5 {
    text-align: center;
}

.italicFont {
    font-style: italic;
}

.justifyAlign {
    text-align: justify;
}

.hidden {
    visibility: hidden;
}

.smallPaddingTop {
    padding-top: 1rem;
}

@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url('../Output/CustomFonts/') src: url('../Output/CustomFonts/bangers-v10-latin-regular.eot');
    src: local('Bangers Regular'), local('Bangers-Regular'), url('../fonts/bangers-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../Output/CustomFonts/bangers-v10-latin-regular.woff2') format('woff2'), url('../Output/CustomFonts/bangers-v10-latin-regular.woff') format('woff'), url('../Output/CustomFonts/bangers-v10-latin-regular.ttf') format('truetype'), url('../Output/CustomFonts/bangers-v10-latin-regular.svg#Bangers') format('svg');
}

.row{
   margin-left: 0 !important;
   margin-right: 0 !important;
}

.noLateralPaddingForAllElements *{
    padding-left: 0;
    padding-right: 0;
}

.noLateralPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}