#questionsContainer {
    display: none;
}

.jumbotron {
    margin-bottom: 0px;
    padding: 3%;
}

    .jumbotron p {
        margin-bottom: 0px;
    }

.row {
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.col-sm-8, .col-sm-12 {
    margin-bottom: 2%;
}

.marginLeft20percent {
    margin-left: 20%;
}

.fixedSizedBtnSmall {
    width: 100px;
}

.noPaddingBottom {
    padding-bottom: 0;
}

.smallPaddingTop {
    padding-top: 1rem;
}

@media (min-width: 640px) {
    .row {
        width: 100%;
    }
}

.bottomBar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 4rem;
    font-size: larger;
}

.noPaddingOrMarginBottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

#scoreContainer {
    padding-bottom: 0;
    margin-bottom: 2px;
}

#distanceContainer {
    padding-bottom: 0;
    margin-bottom: 20px;
}

#tip {
    font-size: larger;
    font-style: oblique;
}

#searchForIT {
    margin-top: 30%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.noMarginBottom {
    margin-bottom: 0;
}

.pulse {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    margin-bottom: 2rem;
}

.noLateralPadding {
    padding-left: 0;
    padding-right: 0;
}


@-webkit-keyframes pulsate {
    0% {
        opacity: 0.0
    }

    10% {
        opacity: .20
    }

    20% {
        opacity: .40
    }

    30% {
        opacity: .60
    }

    40% {
        opacity: .80
    }

    50% {
        opacity: 1.0
    }

    60% {
        opacity: .80
    }

    70% {
        opacity: .60
    }

    80% {
        opacity: .40
    }

    90% {
        opacity: .20
    }

    100% {
        opacity: 0.0
    }
}


.answer {
    cursor: pointer;
    padding-left: 1rem;
    font-size: large;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
    transition-duration: 0.5s;
    padding-left: 2.5rem;
}

    .answer:hover {
        background-color: #80808C;
        cursor: pointer;
        color: white;
        font-size: x-large;
        transition-duration: 0.5s;
        padding-left: 3rem;
    }

        .answer:hover span {
            background-color: #28a745;
            color: white;
            padding: 10px;
            text-align: center;
            border-radius: 45%;
            transition-duration: 0.8s;
        }

    .answer a {
        padding-left: 2rem;
    }

hr {
    background-color: #101010;
    width: 100%;
    padding: 0;
    margin: 0;
}

.statementContainer {
    height: auto;
    padding: 5% !important;
}

.statement {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.5rem !important;
}

.badAnswers {
    font-size: large;
    font-style: italic;
    background-color: #FD7E18;
    padding: 2%;
    padding-left: 2%;
    color: white;
    border-radius: 0%;
}

.badge {
    font-size: 100%;
}

@media (min-width: 640px) {
    .row {
        width: 100%;
    }

    #searchForIT {
        margin-top: 10% !important;
    }

    .badAnswersContainer {
        padding: 0;
        padding-left: 0 !important;
        width: 13rem;
    }

    .badAnswers {
        padding: 0.4rem;
        padding-left: 2%;
        height: 2.5rem;
        width: 12rem;
    }

    .bottomBar {
        height: 4rem;
    }

    .statementContainer {
        height: 1rem !important;
        padding: 4% !important;
        margin-bottom: 1rem !important;
    }

    #scoreContainer, #distanceContainer {
        padding-top: 1rem;
    }

    #warmColdMessageContainer{
        padding-top: 1% !important;
    }
}

.choseTeamNameBanner {
    display: block;
    position: absolute;
    bottom: 4rem;
    text-align: center;
    width: 100%;
}

#teamNameSelection {
    margin-top: 1rem;
    margin-right: 0 !important;
}

.gameLoadingGif {
    height: 9rem;
}

#warmColdMessageContainer {
    position: absolute;
    right: 0px;
    padding: 0.4rem;
    padding-left: 2%;
    padding-right: 2%;
    height: 2.5rem;
    color: white;
    border-radius: 0px 0px 0px 5px;
    padding-top: 3%;
    padding-bottom: 1%;
    transition: 0.5s;
}

.floatLeft {
    float: left;
}

.lineHeight1rem {
    line-height: 1rem;
}

.hint {
    display: block;
    border: none;
    background-color: #DFF0C8;
}

.mainTitle {
    font-family: 'Bangers', Fallback, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
}

.teamNameInput {
    width: 100%;
}

.ligthRedBorder {
    border: 1px solid #E9967A;
}

.startBtn {
    font-family: 'Bangers', Fallback, sans-serif;
    color: black !important;
}

#timeLeftContainer{
    display: none;
    position: fixed;
    right: 0px;
    padding: 0.5rem;
}