#questionsContainer {
    display: none;
}

.jumbotron {
    margin-bottom: 0px;
    padding: 3%;
}

    .jumbotron p {
        margin-bottom: 0px;
    }

.row {
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.col-sm-8, .col-sm-12 {
    margin-bottom: 2%;
}

.marginLeft20percent {
    margin-left: 20%;
}

.fixedSizedBtnSmall {
    width: 100px;
}

.noPaddingBottom {
    padding-bottom: 0;
}

.smallPaddingTop {
    padding-top: 3%;
}

@media (min-width: 640px) {
    .row {
        width: 100%;
    }
}

.bottomBar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 6rem;
    font-size: larger;
}

.noPaddingOrMarginBottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

#scoreContainer {
    padding-bottom: 0;
    margin-bottom: 2px;
}

#distanceContainer {
    padding-bottom: 0;
    margin-bottom: 20px;
}

#tip {
    font-size: larger;
    font-style: oblique;
}

#searchForIT{
    margin-top: 20%;
}

.pulse {
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.0
    }

    10% {
        opacity: .20
    }

    20% {
        opacity: .40
    }

    30% {
        opacity: .60
    }

    40% {
        opacity: .80
    }

    50% {
        opacity: 1.0
    }

    60% {
        opacity: .80
    }

    70% {
        opacity: .60
    }

    80% {
        opacity: .40
    }

    90% {
        opacity: .20
    }

    100% {
        opacity: 0.0
    }
}